body {
  font-family: var(--yds-typography-font-family-yle-next), "Open Sans", sans-serif;
}

.container {
  width: 700px;
  height: 600px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.header-section {
  width: 100%;
  background: var(--bs-secondary-color);
  padding: 20px;
}

.header-section h1 {
  margin: 0;
  color: white;
  font-size: 26px;
  font-weight: bold;
}
