/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #694fce;
  --ifm-color-primary-dark: #5b40c3;
  --ifm-color-primary-darker: #543cba;
  --ifm-color-primary-darkest: #46329a;
  --ifm-color-primary-light: #775ed9;
  --ifm-color-primary-lighter: #7e62e2;
  --ifm-color-primary-lightest: #9a7ef0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b8a3f5;
  --ifm-color-primary-dark: #a68ef2;
  --ifm-color-primary-darker: #9c82f1;
  --ifm-color-primary-darkest: #7d5dec;
  --ifm-color-primary-light: #cabaf8;
  --ifm-color-primary-lighter: #d4c6f9;
  --ifm-color-primary-lightest: #e8e0fc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
